vti_encoding:SR|utf8-nl
cennik/komponenty.html:netscape/necennik.html microsoft/micennik.html
cennik.gif:midnes.htm
cennik/monitory.html:netscape/necennik.html microsoft/micennik.html
spat.gif:midnes.htm
images/pozadie/sky.jpg:kontakty.html zml/zmluva.html zml/reklam.html
cennik/zostavy.html:netscape/necennik.html microsoft/micennik.html
logo.gif:midnes.htm
cennik/pokladne.html:netscape/necennik.html microsoft/micennik.html
dnes/nednes.html:index.htm
cennik/biostar.jpg:cennik/zostavy.html
white5.gif:midnes.htm
kontakty.gif:midnes.htm
image/tlacitka/spat.gif:netscape/nednes.html
cennik/pcchip.jpg:cennik/zostavy.html
microsoft/cennik.gif:microsoft/midnes.html
cennik/pisacie.html:netscape/necennik.html microsoft/micennik.html
image/white5.gif:netscape/necennik.html netscape/nednes.html cennik/stranky/tvorba.htm
cennik/tlaciarne/oki.html:netscape/necennik.html
zmluvy.gif:midnes.htm
cennik/scannery.html:netscape/necennik.html microsoft/micennik.html
dnes/dnes.htm:index.htm
cennik/tlaciarne/canon.html:netscape/necennik.html
mailto\:mailtn@pcprompt.sk:kontakty.html
fphover.class:cennik/contents.htm
image/tlacitka/cennik.gif:netscape/nednes.html
reklam.gif:midnes.htm
cennik/modemy.html:netscape/necennik.html microsoft/micennik.html
mailto\:mailba@pcprompt.sk:kontakty.html
cennik/qdi.jpg:cennik/zostavy.html
cennik/software.html:netscape/necennik.html microsoft/micennik.html
cennik/compaq.html:netscape/necennik.html microsoft/micennik.html
