vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage DBW
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|03 Feb 2000 20:06:38 +0100
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_disableautoimgsizeexts:SX|.asp
vti_webservertype:SR|diskweb
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_dependenciesood:IR|1
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|windows-1250
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|sk
vti_copytimestamp_[WebPost]/http\://www.pcprompt.sk:TR|30 Oct 2000 16:19:53 +0100
vti_navbuttonuplabel:SR|Up
vti_insecureserverurl:SR|file://
vti_ignorekeyboard:IR|0
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
