vti_encoding:SR|utf8-nl
http\://www.nuffic.nl/:aktualne/nuffic.html
mailto\:saia@saia.sk:aktualne/grecko.html aktualne/pariz.html
mailto\:phdfellowship@ias.unu.edu:aktualne/usn.html
aktualne/helvetia.html:aktualne/aktualne.html
mailto\:fgp@um.edu.mt:aktualne/malta.html
http\://www.ias.unu.edu/:aktualne/usn.html
mailto\:fgp@mail.link.net.mt:aktualne/malta.html
http\://home.um.edu.mt/fgp/conference.html:aktualne/malta.html
mailto\:am@dzsms.sanet.sk:ram/ram.html infolisty/obsah.html aktualne/holborn.html
mailto\:huygens@nuffic.nl:aktualne/nuffic.html
aktualne/malta.html:aktualne/aktualne.html
aktualne/holborn.html:aktualne/aktualne.html
