vti_encoding:SR|utf8-nl
vti_copytimestamp_A\:\\/:TR|15 Jul 1999 22:21:13 +0200
vti_structto_mojpocitac\\a\:\\:TR|15 Jul 1999 20:46:39 +0200
vti_httpdversion:SX|FrontPage DBW
vti_copytimestamp_[WebPost]/http\://www.dzsms.sk:TR|24 Dec 1999 17:53:39 +0100
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|11 Apr 1999 12:17:13 +0200
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|diskweb
vti_textindexood:IR|0
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_structto_pcprompt\\a\:\\:TR|15 Jul 1999 20:46:39 +0200
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_copytimestamp_a\:\\/:TR|11 Nov 1999 20:20:11 +0100
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_structfrom_mojpocitac\\d\:\\domzahraninchs:TR|11 Apr 1999 11:32:43 +0200
vti_defaultcharset:SR|windows-1250
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|cs
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
