vti_encoding:SR|utf8-nl
akordy/adams/only.txt:akordy/adams/adams.html
akordy/queen/bestfrie.txt:akordy/queen/queen.html
akordy/rem/losing.txt:akordy/rem/rem.html
akordy/beatles/norwegian.txt:akordy/beatles/beatles.html
akordy/beatles/jude.txt:akordy/beatles/beatles.html
akordy/alanis/oughta.txt:akordy/alanis/alanis.html
akordy/aero/what.txt:akordy/aero/aero.html
akordy/rem/drive.txt:akordy/rem/rem.html
akordy/beatles/ishould.txt:akordy/beatles/beatles.html
akordy/beatles/obladi.txt:akordy/beatles/beatles.html
akordy/beatles/straw.txt:akordy/beatles/beatles.html
akordy/nirvana/rape.txt:akordy/nirvana/nirvana.html
akordy/aero/pink.txt:akordy/aero/aero.html
akordy/queen/rhaps.txt:akordy/queen/queen.html
akordy/pink/learn.txt:akordy/pink/pink.html
mailto\:mireceks@post.cz:akordy/akordy.html
http\://bimbo.fjfi.cvut.cz/~xsmekall/chords/:links/links.html
akordy/beatles/letitbe.txt:akordy/beatles/beatles.html
akordy/beatles/loveme.txt:akordy/beatles/beatles.html
akordy/blondie/maria.txt:akordy/blondie/blondie.html
http\://usa.nedstatbasic.net/cgi-bin/viewstat:akordy/akordy.html
akordy/therapy/black.txt:akordy/therapy/therapy.html
akordy/nedvedi/nedvedi.zip:akordy/nedvedi/nedvedi.html
akordy/bonjovi/this.txt:akordy/bonjovi/bonjovi.html
akordy/rem/hurts.txt:akordy/rem/rem.html
akordy/beatles/doyou.txt:akordy/beatles/beatles.html
akordy/nirvana/bloom.txt:akordy/nirvana/nirvana.html
akordy/hex/mato.txt:akordy/hex/hex.html
akordy/beatles/dont.txt:akordy/beatles/beatles.html
akordy/nirvana/about.txt:akordy/nirvana/nirvana.html
akordy/tubla/dotyk.txt:akordy/tubla/tubla.html
akordy/guns/novemb.txt:akordy/guns/guns.html
akordy/aero/dreamon.txt:akordy/aero/aero.html
akordy/therapy/screamag.txt:akordy/therapy/therapy.html
akordy/aero/livin.txt:akordy/aero/aero.html
akordy/nirvana/lithium.txt:akordy/nirvana/nirvana.html
akordy/beatles/michelle.txt:akordy/beatles/beatles.html
akordy/beatles/while.txt:akordy/beatles/beatles.html
akordy/buty/pomalu.txt:akordy/buty/buty.html
akordy/alanis/learn.txt:akordy/alanis/alanis.html
akordy/beatles/fromme.txt:akordy/beatles/beatles.html
akordy/iron/fear.txt:akordy/iron/iron.html
akordy/abba/winner.txt:akordy/abba/abba.html
akordy/metal/true.txt:akordy/metal/metal.html
akordy/metal/unfor.txt:akordy/metal/metal.html
akordy/imt/nedasa.txt:akordy/imt/imt.html
akordy/guns/dont.txt:akordy/guns/guns.html
akordy/aero/hole.txt:akordy/aero/aero.html
akordy/elan/kocka.txt:akordy/elan/elan.html
akordy/rem/man.txt:akordy/rem/rem.html
akordy/dire/sofar.txt:akordy/dire/dire.html
akordy/queen/iwant.txt:akordy/queen/queen.html
akordy/elan/vymysl.txt:akordy/elan/elan.html
akordy/tubla/tulacik.txt:akordy/tubla/tubla.html
akordy/beatles/eight.txt:akordy/beatles/beatles.html
akordy/madonna/frozen.txt:akordy/madonna/madonna.html
akordy/beatles/ahard.txt:akordy/beatles/beatles.html
akordy/adams/onthe.txt:akordy/adams/adams.html
akordy/beatles/twist.txt:akordy/beatles/beatles.html
akordy/muller/nebude.txt:akordy/muller/muller.html
akordy/aero/cryin.txt:akordy/aero/aero.html
akordy/rhcp/aero.txt:akordy/rhcp/rhcp.html
akordy/stones/love.txt:akordy/stones/stones.html
akordy/beeth/moon.txt:akordy/beeth/beeth.html
akordy/fnm/easy.txt:akordy/fnm/fnm.html
akordy/texas/put.txt:akordy/texas/texas.html
akordy/nohavica/nohavica.zip:akordy/nohavica/nohavica.html
akordy/rem/side.txt:akordy/rem/rem.html
akordy/beatles/girl.txt:akordy/beatles/beatles.html
akordy/madonna/bonita.txt:akordy/madonna/madonna.html
akordy/therapy/mevsyou.txt:akordy/therapy/therapy.html
akordy/beatles/yellow.txt:akordy/beatles/beatles.html
akordy/beatles/ifeel.txt:akordy/beatles/beatles.html
akordy/beatles/ticket.txt:akordy/beatles/beatles.html
akordy/nagy/blchy.txt:akordy/nagy/nagy.html
akordy/beatles/penny.txt:akordy/beatles/beatles.html
akordy/petty/into.txt:akordy/petty/petty.html
akordy/nirvana/plain.txt:akordy/nirvana/nirvana.html
akordy/aero/eat.txt:akordy/aero/aero.html
akordy/natali/mistake.txt:akordy/natali/natali.html
akordy/queen/champ.txt:akordy/queen/queen.html
akordy/beatles/yesitis.txt:akordy/beatles/beatles.html
akordy/aero/fallin.txt:akordy/aero/aero.html
akordy/dylan/knockin.txt:akordy/dylan/dylan.html
akordy/mirozb/len.txt:akordy/mirozb/mirozb.html
akordy/nirvana/lake.txt:akordy/nirvana/nirvana.html
akordy/metal/one.txt:akordy/metal/metal.html
akordy/beatles/lucy.txt:akordy/beatles/beatles.html
akordy/rem/electro.txt:akordy/rem/rem.html
akordy/adams/everyt.txt:akordy/adams/adams.html
akordy/bonjovi/these.txt:akordy/bonjovi/bonjovi.html
akordy/nirvana/dumb.txt:akordy/nirvana/nirvana.html
akordy/uriah/lady.txt:akordy/uriah/uriah.html
http\://atrey.karlin.mff.cuni.cz/~lisak/pisne/enter.cgi:links/links.html
akordy/tabl.html:akordy/akordy.html
akordy/elan/amnestia.txt:akordy/elan/elan.html
cgi-bin/counter:index.html
akordy/deep/smoke.txt:akordy/deep/deep.html
akordy/elan/ucho.txt:akordy/elan/elan.html
akordy/crash/mmm.txt:akordy/crash/crash.html
akordy/rhcp/under.txt:akordy/rhcp/rhcp.html
akordy/alanis/ironic.txt:akordy/alanis/alanis.html
akordy/nirvana/smells.txt:akordy/nirvana/nirvana.html
akordy/pink/brick.txt:akordy/pink/pink.html
http\://www.seznam.cz:index.html
akordy/santana/samba.txt:akordy/santana/santana.html
akordy/aero/amazing.txt:akordy/aero/aero.html
akordy/imt/nepoznam.txt:akordy/imt/imt.html
akordy/clapton/layla.txt:akordy/clapton/clapton.html
akordy/elvis/loveme.txt:akordy/elvis/elvis.html
akordy/elan/rabaka.txt:akordy/elan/elan.html
akordy/natali/wishin.txt:akordy/natali/natali.html
akordy/beatles/sheloves.txt:akordy/beatles/beatles.html
akordy/filipova/buh.txt:akordy/filipova/filipova.html
akordy/metal/mamasaid.txt:akordy/metal/metal.html
akordy/nirvana/unpl.txt:akordy/nirvana/nirvana.html
akordy/bangles/eternal.txt:akordy/bangles/bangles.html
akordy/imt/vespes.txt:akordy/imt/imt.html
akordy/lennon/stand.txt:akordy/lennon/lennon.html
akordy/nirvana/thema.txt:akordy/nirvana/nirvana.html
akordy/jethro/loco.txt:akordy/jethro/jethro.html
akordy/texas/say.txt:akordy/texas/texas.html
akordy/fool/lemon.txt:akordy/fool/fool.html
akordy/mclean/american.txt:akordy/mclean/mclean.html
akordy/adams/forgive.txt:akordy/adams/adams.html
http\://www.zoznam.sk:index.html
images/new.jpg:akordy/therapy/therapy.html akordy/santana/santana.html
akordy/therapy/nausea.txt:akordy/therapy/therapy.html
akordy/nirvana/heart.txt:akordy/nirvana/nirvana.html
akordy/metal/holier.txt:akordy/metal/metal.html
akordy/europe/carrie.txt:akordy/europe/europe.html
akordy/bonjovi/lie.txt:akordy/bonjovi/bonjovi.html
akordy/queen/who.txt:akordy/queen/queen.html
akordy/hex/kym.txt:akordy/hex/hex.html
akordy/bonjovi/hey.txt:akordy/bonjovi/bonjovi.html
akordy/moody/nights.txt:akordy/moody/moody.html
akordy/vega/luka.txt:akordy/vega/vega.html
akordy/nirvana/penny.txt:akordy/nirvana/nirvana.html
akordy/moore/blues.txt:akordy/moore/moore.html
akordy/aero/nine.txt:akordy/aero/aero.html
akordy/elan/niesme.txt:akordy/elan/elan.html
akordy/pink/shine_6.txt:akordy/pink/pink.html
akordy/rem/night.txt:akordy/rem/rem.html
akordy/mrbig/wild.txt:akordy/mrbig/mrbig.html
akordy/beatles/rocky.txt:akordy/beatles/beatles.html
akordy/dire/walk.txt:akordy/dire/dire.html
akordy/lynyrd/sweet.txt:akordy/lynyrd/lynyrd.html
akordy/tubla/skusme.txt:akordy/tubla/tubla.html
akordy/beatles/when.txt:akordy/beatles/beatles.html
akordy/beatles/with.txt:akordy/beatles/beatles.html
akordy/aero/crazy.txt:akordy/aero/aero.html
akordy/buty/krtek.txt:akordy/buty/buty.html
akordy/hex/somon.txt:akordy/hex/hex.html
akordy/beatles/iwant.txt:akordy/beatles/beatles.html
http\://homes.arealcity.com/martinek/archive.html:links/links.html
akordy/extreme/more.txt:akordy/extreme/extreme.html
akordy/clapton/tears.txt:akordy/clapton/clapton.html
akordy/hex/vetron.txt:akordy/hex/hex.html
akordy/u2/staring.txt:akordy/u2/u2.html
akordy/nirvana/polly.txt:akordy/nirvana/nirvana.html
akordy/kryl/kryl.zip:akordy/kryl/kryl.html
akordy/elan/sestricka.txt:akordy/elan/elan.html
akordy/beatles/octo.txt:akordy/beatles/beatles.html
akordy/sixpence/kissme.txt:akordy/sixpence/sixpence.html
akordy/beatles/ififell.txt:akordy/beatles/beatles.html
akordy/denver/country.txt:akordy/denver/denver.html
akordy/beatles/black.txt:akordy/beatles/beatles.html
akordy/beatles/andi.txt:akordy/beatles/beatles.html
akordy/savage/truly.txt:akordy/savage/savage.html
akordy/beatles/all.txt:akordy/beatles/beatles.html
akordy/guns/sweet.txt:akordy/guns/guns.html
akordy/aero/angel.txt:akordy/aero/aero.html
akordy/dire/why.txt:akordy/dire/dire.html
mailto\:rburansky@yahoo.com:_borders/bottom.htm
akordy/santana/europa.txt:akordy/santana/santana.html
akordy/elan/bosorka.txt:akordy/elan/elan.html
akordy/images/nadpis.jpg:akordy/_borders/top.htm
akordy/nirvana/all.txt:akordy/nirvana/nirvana.html
akordy/beatles/cant.txt:akordy/beatles/beatles.html
akordy/metal/matters.txt:akordy/metal/metal.html
akordy/beatles/help.txt:akordy/beatles/beatles.html
new/index.htm:akordy/_borders/left.htm
akordy/cocker/youcan.txt:akordy/cocker/cocker.html
akordy/queen/we.txt:akordy/queen/queen.html
akordy/aero/full.txt:akordy/aero/aero.html
akordy/bush/swall.txt:akordy/bush/bush.html
akordy/metal/sand.txt:akordy/metal/metal.html
akordy/beatles/here.txt:akordy/beatles/beatles.html
akordy/aero/aint.txt:akordy/aero/aero.html
akordy/adams/have.txt:akordy/adams/adams.html
akordy/mike/moon.txt:akordy/mike/mike.html
akordy/beatles/some.txt:akordy/beatles/beatles.html
akordy/black/wonder.txt:akordy/black/black.html
akordy/olympic/slzy.txt:akordy/olympic/olympic.html
akordy/nirvana/ohme.txt:akordy/nirvana/nirvana.html
akordy/lennon/happy.txt:akordy/lennon/lennon.html
akordy/aero/blind.txt:akordy/aero/aero.html
akordy/cherry/save.txt:akordy/cherry/cherry.html
http\://usa.nedstatbasic.net/cgi-bin/nedstat.gif:akordy/akordy.html
akordy/beatles/julia.txt:akordy/beatles/beatles.html
akordy/rhcp/scartissue.txt:akordy/rhcp/rhcp.html
akordy/green/basket.txt:akordy/green/green.html
akordy/natali/torn.txt:akordy/natali/natali.html
akordy/beatles/mother.txt:akordy/beatles/beatles.html
akordy/beatles/isaw.txt:akordy/beatles/beatles.html
akordy/therapy/moment.txt:akordy/therapy/therapy.html
akordy/beatles/nowhere.txt:akordy/beatles/beatles.html
akordy/clapton/eyes.txt:akordy/clapton/clapton.html
akordy/mirozb/bkvet.txt:akordy/mirozb/mirozb.html
http\://www.harmony-central.com/guitar/olga/all/a.html:links/links.html
http\://freeweb.coco.cz/roko/:links/links.html
