vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage DBW
vti_dependenciesood:IR|1
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_navbuttonuplabel:SR|Up
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_ignorekeyboard:IR|0
vti_webservertype:SR|diskweb
vti_navbuttonnextlabel:SR|Next
vti_timecreated:TR|20 Jan 1999 15:06:20 +0100
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|Back
vti_borderdefault:SR|tlb
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_longfilenames:IX|1
vti_oldestcompatibleversion:SR|2.0.0.0
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1250
vti_defaultlanguage:SR|cs
vti_copytimestamp_[WebPost]/http\://www.geocities.com/SouthBeach:TR|09 Jan 2000 17:46:12 +0100
vti_autorecalc:IX|1
vti_hassearchbot:BR|false
vti_navbuttonhomelabel:SR|Home
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
