vti_encoding:SR|utf8-nl
cennik/pc/spotreb.html:cennik/contents.htm
cennik/pc/compaq.html:cennik/contents.htm
cennik/pc/minolta.htm:cennik/contents.htm
cennik/pc/zostava.html:cennik/contents.htm
cennik/pc/komponenty.htm:cennik/contents.htm
mailto\:mailba@pcprompt.sk:kontakty.html
mailto\:mailtn@pcprompt.sk:kontakty.html
cennik/pc/hp.html:cennik/contents.htm
cennik/pc/monitory.html:cennik/contents.htm
images/pozadie/sky.jpg:kontakty.html zml/zmluva.html zml/reklam.html
