vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage DBW
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|06 Nov 2001 17:53:21 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|diskweb
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.926
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|windows-1250
vti_copytimestamp_http\://www.pcprompt.sk/:TR|06 Nov 2001 17:58:15 -0000
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_defaultlanguage:SR|sk
vti_copytimestamp_[WebPost]/http\://www.pcprompt.sk:TR|17 Jan 2002 14:21:47 -0000
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
